@media (max-width: 1000px) {
    .lesson{
      width :50%;
      margin-bottom :50px;
    }

    .top-wrapper h1{
        font-size : 32px;
      }

  }

@media (max-width: 670px) {
    .lesson{
      width : 100%;
    }

    footer{
      text-align : center;
    }

    .btn {
      width :30%;
    }

    .top-wrapper{
      text-align : left; 
    }

    .header-right {
      display: none;
    }
    .menu-icon{
      display: block;
    }
    .top-wrapper h1{
      font-size : 24px;
      line-height : 36px;
      text-align: center;
    }

    .top-wrapper p{
      font-size :14px;
      line-height : 20px;
      text-align: center;
    }
    .btn-wrapper {
      text-align: center;
    }
    .heading h2 {
      font-size: 24px;
    }
    
    .destination {
      width: 100%;
      padding-bottom: 20px;
    }

    .destination-wrapper {
      padding-top: 10px;
    }
    footer {
      width: 100%;
    }
    .quotes {
      display: none;
    }
    .copyright {
      float: none;
    }
    .copyright p {
      text-align: center;
    }
}
